//- index.jade
extends ./layout.jade

block row-content
  div.row
    div
      h2.rev Watson Personality Insights for Twitter
      div.well.rev
        div.form-group.row
          div.col-lg-12.col-xs-12
          h2.twitter-heading Enter a Twitter @Username, #Hashtag, or Generic Search Term
          input#userhash(type='text', required='yes', autofocus='')
          p Note: Usernames must have an '@' symbol to pull a specific user's Tweets
        div.form-group.row
          div.col-lg-12.col-md-12.col-xs-12
            button.btn.btn-block.analysis-btn(type='button') Analyze
    div.row
      canvas.rev(id="myCanvas" width="1100" height="500" style="background: black; display: block; margin:40 auto;width: 100vw; margin-left: calc(-1 * ((100vw - 100%) / 2));height: 700px;")
    div.col-lg-12.col-md-12.col-xs-12
      div.row
        div.form-group.row.loading.text-center.loading(style='display:none;')
          h2 &nbsp;
          img(src='images/watson.gif')
        div.form-group.row.error(style='display: none;')
          h2 &nbsp;
          div.well
            p.errorMsg
      div.results(style='display: none;')
        h3#personality-hdr(style='height: 29px;') Your Personality*
        div.well
          div.summary-div
          div.text-right(style='color: gray')
            em.small *Compared to most people who participated in our surveys.
    div.results(style='display: none;')
      div.row
        div.col-lg-12.col-md-12.col-xs-12.rev
          h3 Data Behind Your Personality
          div.col540px.well.traits(style='display: none;')
        div.col-lg-12.col-md-12.col-xs-12.rev
          h3 Visualization of Personality Data
          div.well#vizcontainer
      div.row
        div.col-lg-12.col-md-12.col-xs-12.rev
          h3 Tweets Used for Analysis
          div.well#tweets

    //- templates to avoid to create HTML in javascript
    div.hidden
      div#header-template
        div.row.theader
          .col-lg-5.col-xs-5
            span Name
          .col-lg-7.col-xs-7.text-right
            span Value ± Sampling Error

      div#trait-template
        div.row
          .tname.col-lg-7.col-xs-7
            span
          .tvalue.col-lg-5.col-xs-5.text-right
            span

      div#model-template
        div.row
          .col-lg-12.col-xs-12.text-center
            span
    div.row
      button(class="print-btn" onclick="$('#print-cont').print();") Print Personality Analysis
      button(class="print-btn" onclick="window.location.reload()") Refresh